version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: recipes_user
      POSTGRES_PASSWORD: recipes_password
      POSTGRES_DB: recipes_development
    ports:
      - "5432:5432"

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && rails server -b 0.0.0.0"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://recipes_user:recipes_password@db:5432/recipes_development
      RAILS_ENV: development

volumes:
  postgres_data:

